.category-grid {
  background-color: rgb(255, 255, 255);
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 5rem 1rem 5rem;
}

.category-item {
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.category-image {
  width: 80%;
  border-radius: 50%;
  border: 2px solid #eee;
}

.category-label {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.digital-category-link-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.category-item-link {
  text-decoration: none;
  color: inherit;
}