$primary-color: #e9001f;

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/IRANYekanBoldFaNum.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'MyCustomFont', sans-serif;
}
body {
  font-family: sans-serif;
  background-color: #b5b5b5;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
