.swiper-container {
  align-items: center;
  overflow: hidden;
  padding: 1.5rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.swiper-slide-image {
  width: 80px;
  height: 80px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #63008a;
  overflow: hidden;
}


.swiper-slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swiper-slide-text {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  margin-top: 2px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 0.1px solid #000;
  color: #000;
  transition: background-color 0.3s ease;

  &::after {
    font-size: 16px;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.banner-swiper {
  width: 100%;
  justify-content: center;
}

.banner-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media screen and (max-width: 426px) {
    object-fit: cover;
    gap: 0.5rem;
    border-radius: 20px;
    width: 385px;
    height: 180px;
  }
}


.offers-swiper-container {
  background-color: #f36262;
  padding: 1rem;
  border-radius: 1rem;
}

.offer-item {
  justify-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 20rem;
}

.offer-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.offer-details {
  margin-top: 10px;
  min-height: 90px;
}

.offer-description {
  font-size: 14px;
  color: #333;
}

.offer-price {
  min-height: 32px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.offer-current-price {
  font-size: 0.9rem;
  font-weight: bold;
  color: #e60023;
}

.offer-discount {
  background-color: #e60023;
  border-radius: 40%;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.offer-original-price {
  text-align: left;
  text-decoration: line-through;
  color: #aaa;
  font-size: 0.9rem;
  margin-top: 10px;
}

.main-category-swiper-container {
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-category-item {
  text-align: center;
}

.main-category-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

.main-category-title {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.offer-original-price.no-discount {
  text-decoration: none;
  color: #555;
  text-align: center;
}

.offer-price-noDiscount {
  min-height: 32px;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}